{{define "title"}}About{{end}}

{{define "main"}}
    <div>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum eaque fugiat in magni optio pariatur quos
            repellendus sed tempore. Commodi doloribus error et labore, nemo quam rerum sint voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ipsa magnam nisi qui sit suscipit tenetur
            veritatis! Assumenda dicta dolor eius, nostrum numquam officiis perspiciatis quibusdam. Accusantium aperiam,
            asperiores culpa dolor, dolore doloribus eligendi et explicabo hic, illo ipsa iste itaque iusto laborum
            laudantium nemo nihil non nostrum odit placeat possimus quos recusandae rem sequi ut. Ab aliquam aliquid
            consequuntur cum dolore expedita id inventore laborum magni nam nihil nulla numquam obcaecati perferendis,
            porro? Architecto at beatae dolore eum nam. Asperiores blanditiis commodi dicta dolor eligendi ipsum magni
            molestiae nam necessitatibus ratione recusandae, reprehenderit sed, unde ut, vel! Accusamus,
            praesentium?</p>
    </div>
{{end}}

